.BScrollBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-text {
    width: calc(100% - 20px);
    line-height: 1.5;
    padding: 10px 10px;
    position: relative;
}

.home-text::before {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    content: '';
    height: 1px;
    background: #ebedf0;
    transform: scaleY(0.5);
}

/deep/ .van-divider {
    margin: 0 !important;
}

.home-order {
    color: #f0ad4e;
    font-size: 13px;
    margin-right: 5px;
}

.loadingMore {
    width: 100%;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingMore > p {
    font-size: 13px;
}

.loadingMore > img {
    width: 20px;
    margin-right: 10px;
}
